{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Entry: {{entry}}</h1>

    <form action="{% url 'edit' entry %}" method="post" id="edit_entry">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" type="text" id="entry_details" name="entry_details" rows="20">{{ content }}</textarea>
        </div>
        <button type="submit" class="btn btn-info">Save Changes</button>
    </form>

{% endblock %}