{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Error</h1>

    {% if error == 404 %}
    <h4>The requested page was not found.</h4>
    <a href="/">Back to the home page.</a>
    {% elif error == 'S404' %}
    <h4>The entry doesn't exist. Please try another search term.</h4>
    <a href="/">Back to the home page.</a>
    {% elif error == 403 %}
    <h4>The entry already exists.</h4>
    <a href="/add/">Back to the creating page.</a>
    {% else %}
    <p>An Error occured.</p>
    {% endif %}

{% endblock %}